.productos__caja___img_eliminar{
        height: 1.25rem;
        width: 1.25rem;
        position: relative;    
        top: -10.25rem;
        left: 4.8rem;         
        z-index: 1;        
}      
    @media screen and (min-width: 768px) {
        .productos__caja___img_eliminar{
            left: 7.3rem;                 
        }
    }
    
    @media screen and (min-width: 1024px) {
        .productos__caja___img_eliminar{
            left: 8.5rem;                     
        }
    }
    