.formcontato__input{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 1rem;
    font-size: 1rem;
    padding-left: 1rem;
    width: 81%;
    max-width: 29rem;
    height: 2rem;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    border: none;
}


.formcontato__input::placeholder, .formcontato__textarea::placeholder{
    width: 180px;
    height: 60px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1rem;
    display: flex;
    align-items: center;
    color : var(--fuente-ceniza-oscuro);

    flex: none;
    order: 0;
    flex-grow: 0;
}